@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f2ebe3;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 1rem; }

.product {
  display: grid;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px; }

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr; }
  .product__content {
    padding: 2rem; } }

.product__content {
  display: grid;
  padding: 1.5rem;
  gap: 1rem; }

.product__type {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 4px;
  color: #6c7289; }

.product__title {
  color: #1c232b;
  line-height: 1; }

.product__title,
.product__price-after-discount {
  font-family: "Fraunces", serif;
  font-size: 2rem; }

.flex-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap; }

p {
  color: #6c7289;
  line-height: 1.6; }

.product__price-after-discount {
  color: #3c8067;
  font-family: "Fraunces", serif; }

.product__price-before-discount {
  text-decoration: line-through; }

img {
  max-width: 100%;
  display: block; }

.button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background-color: #3c8067;
  color: white;
  border: none;
  padding: 0.825rem;
  border-radius: 0.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  place-content: center; }
  .button:hover {
    background-color: #1c3b30; }
  .button:focus {
    background-color: #1c3b30; }

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  margin-top: 32px;
  display: grid;
  place-content: center; }
